services:
  web:
    build: docker/
    ports:
      - "8000:80"
      - "4433:443"
    volumes:
      - .:/var/www/sites/docker.localhost
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - DOCKER_RUNNING=yes
    depends_on:
      - database
      - mailpit

  mailpit:
    image: docker.io/axllent/mailpit:v1.28
    ports:
      - "8025:8025"

  database:
    image: docker.io/mariadb:10.11
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "yes"
      MYSQL_DATABASE: "docker"
      MYSQL_USER: "docker"
      MYSQL_PASSWORD: "docker"
    ports:
      - "33068:3306"
    volumes:
      - database:/var/lib/mysql
      - ./docker/mysql/initial_sql/:/docker-entrypoint-initdb.d/:ro

volumes:
  database:
